.breadcrumb {
    display: flex;
    color: #fff;
    align-items: baseline;

    &-item {
        &>a {
            color: #fff;
        }

        &-separator {
            margin: 0 5px;
        }
    }
}