.dropdown {
    &-selection {
        display: flex;
        align-items: center;
        color: #fff;
        cursor: pointer;
        position: relative;

        svg {
            margin-left: 10px;
        }
    }

    &-container {
        position: absolute;
        top: 30px;
        left: -50%;
        transform: translateX(25%);
        color: #fff;
        display: none;
        background: #28231F;
        box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.53);
        border-radius: 10px;
        padding: 5px;

        li {
            padding: 7px 12px;
            width: max-content;

            a {
                color: #fff;
            }

            &:hover a {
                color: $primary-light-orange;
                transition: color 0.3s ease-in-out;
            }

            .active {
                color: $primary-light-orange;
            }
        }

    }

    &-open {
        .dropdown-selection {
            svg {
                transform: rotate(180deg);
                color: #F8980E;
            }
        }

        .dropdown-container {
            display: block;
        }
    }
}