.header {
  color: $primary-color;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 8px 0 1px;
    border-bottom: 1px solid $shade-grey;
  }

  .logo {
    .logo__link {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-item {
      margin-right: 30px;
      width: max-content;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      &:hover .nav-link {
        color: $primary-light-orange;
        transition: color 0.3s ease-in-out;
      }

      &-user-logic {
        margin-right: 12px;
      }
    }

    &-link {
      color: $shade-white;
      text-decoration: none;
      cursor: pointer;

      &.active {
        color: $primary-light-orange;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -30px;
          width: 100%;
          height: 3px;
          background-color: $primary-light-orange;
        }
      }
    }
  }

  .lang-switch {
    padding-right: 20px;
    position: relative;

    &:before {
      content: "";
      width: 12px;
      height: 7px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      background-image: url("../../assets/images/icons/arrow_down.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.lang-item {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 10px;
    background-image: url(../../assets/images/icons/arrow_down.svg);
  }
  .locale-switcher {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $shade-white;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .locale-switcher:focus,
  .locale-switcher::-moz-focus-inner,
  .locale-switcher:-webkit-autofill,
  .locale-switcher::-ms-expand {
    color: white;
    background: transparent;
    border: none;
  }

  .locale-switcher option {
    color: white;
    background: rgba(0, 0, 0, 0.7);
  }

  /* Стилі для наведення курсора */
  .locale-switcher option:hover {
    color: black; /* Змініть колір тексту за потребою */
    background: rgba(255, 255, 255, 0.8); /* Змініть колір фону за потребою */
  }
}
