.header {
  color: $primary-color;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0 1px;
    border-bottom: 1px solid $shade-grey;
  }

  .logo {
    .logo__link {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .nav {
    list-style: none;
    display: flex;
    align-items: center;

    &-item {
      margin-right: 30px;
      width: max-content;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      &:hover .nav-link {
        color: $primary-light-orange;
        transition: color 0.3s ease-in-out;
      }

      &-user-logic {
        margin-right: 12px;
      }
    }

    &-link {
      color: $shade-white;
      text-decoration: none;
      cursor: pointer;

      &.active {
        color: $primary-light-orange;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -30px;
          width: 100%;
          height: 3px;
          background-color: $primary-light-orange;
        }
      }
    }
  }

  // .lang-switch {
  //   padding-right: 20px;
  //   position: relative;
  //   &:before {
  //     content: "";
  //     width: 12px;
  //     height: 7px;
  //     position: absolute;
  //     top: 50%;
  //     transform: translateY(-50%);
  //     right: 0;
  //     background-image: url("../../assets/images/icons/arrow_down.svg");
  //     background-repeat: no-repeat;
  //     background-position: center center;
  //   }
  // }
  // .lang-popup {
  //   display: none;
  //   position: absolute;
  //   top: 18px;
  //   left: -10px;
  //   background-color: #393330;
  //   border-radius: 10px;
  //   padding: 10px;
  // }
  // .lang-item:hover .lang-popup,
  // .lang-popup:hover {
  //   display: block;
  // }
  // .lang-popup__item {
  //   color: #fff;
  //   padding: 5px 10px;
  //   &:hover {
  //     color: #ffb448;
  //   }
  // }
}
