.declinePayment {
  &-container {
    background: rgba(40, 35, 31, 0.86);
    backdrop-filter: blur(20px);
    height: 100vh;
  }

  &-modal {
    &-container {
      position: absolute;
      width: 703px;
      left: calc(50% - 703px / 2 + 0.5px);
      top: calc(50% - 689px / 2 - 27.5px);
      box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.53);
      border-radius: 20px;
      padding: 25px 25px 0;
      background: #393330;
      display: flex;
      flex-direction: column;

      &-close-icon {
        align-self: end;
        cursor: pointer;
      }

      &-decline-payment-checkmark-icon {
        align-self: center;
        margin-top: 16px;
      }

      &-title {
        text-align: center;
        margin-top: 16px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: #ffffff;
      }

      &-text {
        width: 398px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #ffffff;
        margin: 0 auto;
        margin-top: 12px;
      }

      .button-primary {
        margin: 24px auto 0;
      }

      &-image,
      &-close-icon,
      &-decline-payment-checkmark-icon {
        width: fit-content;
      }

      &-image {
        margin: 24px auto 76px;
      }
    }
  }
}
