.first-screen {
  margin-bottom: 70px;

  &__row {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 90px 0 220px;
    border-radius: 30px;
    background-image: url("../../assets/images/fs_home_img.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #ffffff;
    margin-bottom: 33px;
  }
  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    padding: 12px 23px;
    background: linear-gradient(180deg, #ffb448 0%, #f8980e 100%);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: $shadow-active;
      scale: 1.05;
    }

    &:active {
      background: $shade-white;
      color: $primary-orange;
      box-shadow: $shadow-defauld;
    }
  }
  &__server-monitoring {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    span {
      font-weight: 600;
      font-size: 30px;
      line-height: 150%;
      color: $primary-light-orange;
    }
    p {
      margin-top: 20px;
      font-weight: 600;
      font-size: 30px;
      line-height: 150%;
      color: $primary-light-orange;
      cursor: pointer;
    }
  }
}

.products {
  margin-top: 16px;
  margin-bottom: 60px;

  &_filters {
    display: flex;
    justify-content: space-between;

    &_sorting {
      display: flex;
      align-items: baseline;

      & > p {
        @include body_3;
        margin-right: 14px;
      }
    }
  }

  &-svitch {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 24px;

    &__button {
      position: relative;
      background: $shade-grey;
      border-radius: 10px;
      cursor: pointer;
      margin-right: 24px;
      transition: all 0.3s ease-in-out;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        box-shadow: 10px 10px 30px rgba(248, 152, 14, 0.33);
        scale: 1.05;
      }

      span {
        display: inline-block;
        width: 150px;
        padding: 12px 0;
        border-radius: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: $shade-white;
      }

      input[type="radio"] {
        position: absolute;
        opacity: 0;

        &.checked + span {
          background: $primary-gradient;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-card {
    max-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 18px 19px 25px 19px;
    background-color: $shade-black;
    box-shadow: $shadow-defauld;
    border-radius: 20px;
    margin: 12px 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 5px 5px 20px rgba(248, 152, 14, 0.33);
      scale: 1.03;
    }

    &:active {
      box-shadow: $shadow-active;
    }

    &__img {
      margin-bottom: 16px;
    }

    &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: $shade-white;
      margin-top: 17px;
      margin-bottom: 12px;
    }

    &__block {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__price {
      background: $primary-orange-contrast9;
      border: 2px solid $primary-orange-contrast22;
      border-radius: 5px;
      padding: 5px 6px;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: $primary-orange;
    }

    &__buy {
      width: 64px;
      height: 34px;
      background-image: url("../assets/images/icons/shopping_icon.svg"),
        $primary-gradient;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 10px;
      border: none;
      outline: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
}
