.modsPage {
    color: #fff;
    margin-top: 24px;

    &>h1 {
        margin: 25px 0 0;
    }

    &>h2 {
        margin-top: 30px;
    }

    &>h3 {
        margin-top: 15px;
    }

    &>p {
        margin-top: 5px;
    }

    &>div {
        margin: 20px 0;
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        padding: 25px 0;

        &>div {
            background: #28231F;
            border-radius: 20px;
            padding: 23px 26px;
            text-align: center;
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &>img {
                border: none;
                width: 220px;
                height: 180px;
                border-radius: 20px;
                max-width: none;
            }

            &>.image_replacer {
                width: 220px;
                height: 180px;
            }

            &>h3 {
                margin: 15px 0;
            }

            &:hover {
                box-shadow: 5px 5px 10px rgba(248, 152, 14, 0.33);
                scale: 1.05;
            }
        }
    }
}