.container-hidden {
    display: none !important;
}

.changePassword {
    &-container {
        // overall styles
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            margin-top: 16px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 150%;
            /* identical to box height, or 36px */


            /* Shade/white */

            color: #FFFFFF;
        }

        &-text {
            margin-top: 16px;
            max-width: 660px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            /* or 24px */

            text-align: center;

            /* Shade/white */

            color: #FFFFFF;
        }

        .button-primary {
            margin-top: 24px;
        }

        // first step container styles
        &-firstStep {
            &-image {
                margin-top: 30px;
            }
        }

        // second step container styles
        &-secondStep {
            h2 {
                margin-top: 92px;
            }

            &-image {
                position: fixed;
                right: 0;
            }
        }

        &-formContainer {
            form {
                margin-top: 16px;
            }

            input {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 12px 26px 12px 26px;
                height: 48px;
                width: 387px;
                border: 2px solid #393330;
                border-radius: 10px;
                margin-top: 10px;
                background-color: rgba(57, 51, 48, .4);
                color: #FFFFFF;

                &::placeholder {
                    color: #FFFFFF;
                }
            }

            .button-primary {
                display: flex;
                margin: 24px auto 0;
            }
        }
    }
}