@mixin button {
    padding: 12px;
    line-height: 150%;
    border: none;
    border-radius: 10px;
    color: $shade-white;
    display: flex;
    align-self: center;
    justify-content: center;

    transition: all 0.3s ease-in-out;
}

@mixin body_3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
}