@mixin button {
    padding: 12px 23px;
    line-height: 150%;
    border: none;
    border-radius: 10px;
    color: $shade-white;
    display: flex;
    align-self: center;
    justify-content: center;

    transition: all 0.3s ease-in-out;
}