// colors
$primary-color: #201a16;
$primary-light-orange: #ffb448;
$primary-orange: #f8980e;
$primary-gradient: linear-gradient(180deg, #ffb448 0%, #f8980e 100%);
$primary-orange-contrast22: rgba(248, 152, 14, 0.22);
$primary-orange-contrast9: rgba(248, 152, 14, 0.09);
$success-green: #3bae1e;
$success-green-contrast22: rgba(59, 174, 30, 0.22);
$success-green-contrast9: rgba(59, 174, 30, 0.09);
$error-red: #bb2929;
$error-red-contrast22: rgba(187, 41, 41, 0.22);
$error-red-contrast9: rgba(187, 41, 41, 0.09);
$shade-white: #ffffff;
$shade-black: #28231f;
$shade-grey: #393330;
$shadow-hover: 30px 30px 50px rgba(0, 0, 0, 0.53);
$shadow-defauld: 20px 20px 30px rgba(0, 0, 0, 0.29);
$shadow-active: 10px 10px 30px rgba(248, 152, 14, 0.33);
// typography
$primary-font: "Montserrat", sans-serif;


@mixin button {
    padding: 12px 23px;
    border: none;
    border-radius: 10px;
    color: $shade-white;
    display: flex;
    align-self: center;
}

.button-primary {
    @include button;
    background: linear-gradient(180deg, #FFB448 0%, #F8980E 100%);
}

.button-shade {
    @include button;
    background: #393330;
}

.page-auth-logo {
    position: absolute;
    width: 265.69px;
    height: 101.32px;
    left: calc(50% - 265.69px/2 - 0.16px);
    top: calc(50% - 101.32px/2 - 276.34px);
}

.page-covered-image {
    background-image: url(../assets/images/login-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container-custom {
    max-width: 1300px;
    margin: 0 auto;
}