@import "varibles";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav,
footer,
header,
aside {
  display: block;
}

main {
  flex: 1;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
}

// overall css classes

.container-mods {

  * {
    margin: revert !important;
    padding: revert !important;
  }

  ul,
  li {
    list-style: square;
  }

}

.container-custom {
  max-width: 1350px;
  min-width: 1000px;
  margin: 0 auto;
}

.page-auth-logo {
  position: absolute;
  width: 265.69px;
  height: 101.32px;
  left: calc(50% - 265.69px / 2 - 0.16px);
  top: calc(50% - 240px);
}

.page-covered-image {
  background-image: url(../assets/images/login-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

.hidden {
  display: none !important;
}

.hidden-visibility {
  // display: none !important;
  visibility: hidden;
}

// button

.button-primary {
  @include button;
  background: linear-gradient(180deg, #ffb448 0%, #f8980e 100%) !important;

  &:hover {
    box-shadow: $shadow-active !important;
  }

  &:active {
    background: $shade-white !important;
    color: $primary-orange !important;
    box-shadow: $shadow-defauld !important;
  }
}

.button-shade {
  @include button;
  background: $shade-grey !important;

  &:hover {
    color: $primary-orange !important;
    background: $shade-white !important;
    box-shadow: $shadow-defauld !important;
  }

  &:active {
    background: $primary-orange !important;
    color: $shade-white !important;
    box-shadow: $shadow-defauld !important;
  }
}

// input

.input-custom {
  color: $shade-white;
  border: 1px solid $shade-grey;

  &:active,
  &:focus {
    // border: 1px solid $primary-orange !important;
    outline: 1px solid $primary-orange !important;
    color: $primary-orange;

    &::placeholder {
      color: $primary-orange;
    }
  }

  &-error {
    border: 1px solid $error-red;
  }
}

.input-error {
  color: $error-red;
  font-family: $primary-font;
  font-size: 12px;
}

.input-tip {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $primary-orange;
}

.toasts-wrapper {
  position: fixed;
  right: 0;
  top: 3%;

  animation: slidein 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;

  display: flex;
  align-items: flex-end;
  flex-direction: column;

  .toast-container {
    color: $shade-white;
    padding: 14px 16px;
    background: $shade-grey;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 10px;
    max-width: 350px;
    width: fit-content;
    position: relative;

    &-closeBtn {
      position: absolute;
      width: 12px;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    &>div {
      padding: 0 15px 0 0;

      &>p {
        line-height: 20px;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

@keyframes slidein {
  from {
    margin-right: 0%;
  }

  to {
    margin-right: 2%;
  }
}

// dropdown custom

.dropdown-custom {
  padding: 10px 22px;
  min-width: 155px;
  height: fit-content;
  background: #28231f;
  border: 2px solid #393330;
  border-radius: 10px;

  &__selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;

    &>img {
      margin-left: 10px;
    }

    &-open {
      &>img {
        transform: rotate(180deg);
      }
    }
  }

  &__container {
    &__item {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #ffffff;
      margin-top: 8px;
      cursor: pointer;
      transition: all 0.3ms ease-in-out;

      &:first-child {
        margin-top: 16px;
      }

      &:hover {
        color: $primary-light-orange !important;
      }

      &.selected {
        color: $primary-orange;
      }
    }
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;

  * {
    color: #fff !important;
    pointer-events: none;
  }
}

// import components styles
@import "components/header";
@import "components/form";
@import "components/dropdown";
@import "components/footer";
@import "components/latest-purchases";
// import pages styles
@import "pages/home";
@import "pages/product";
@import "pages/rules";
@import "pages/donation-description";
@import "pages/contact";
@import "pages/faq";
@import "pages/starting-tips";
@import "pages/donate-privileges";
@import "pages/launcher-download";
@import "pages/team";
@import "pages/exit-confirmation";
@import "pages/change-password";
@import "pages/order-history";
@import "pages/cart";
@import "pages/success-payment";
@import "pages/mods";

// import css libs
@import "css-libs/bootstrap-grid.min.css";
@import "css-libs/normalize.css";