<div class="cookie_container hidden">
  <div class="cookie_text-wrapper">
    <h3 data-i18n-key="cookie_title" class="cookie_title">We use cookies</h3>
    <p data-i18n-key="cookie_textInnerHTML" class="cookie_text">
      We use cookies to ensure you get the best experience on our website. By
      using this site, you agree to the <span>Privacy Policy</span> and
      <span>Terms of Service</span>.
    </p>
  </div>
  <button
    id="cookieButton"
    data-i18n-key="cookie_button"
    class="button-primary"
  >
    Accept & Close
  </button>
</div>
