<footer class="footer">
  <div class="footer-head">
    <div class="container">
      <div class="footer-head__row">
        <div class="footer__logo">
          <a href="${{ locale.footer_link_1 }}$">
            <img
              class="footer__icon"
              src="/assets/images/logo.svg"
              alt="logo |adventures in minecraft "
            />
          </a>
          <div class="footer__cards">
            <img src="/assets/images/master_card.png" alt="" />
            <img src="/assets/images/visa.png" alt="" />
          </div>
          <a
            target="_blank"
            href="https://www.sitejabber.com/reviews/adventuresinminecraft.com"
          >
            <img
              src="/assets/images/icons/sitejabber_logo.svg"
              alt=""
              width="120px"
            />
          </a>
        </div>
        <div class="footer__nav">
          <ul class="footer__nav-left">
            <li class="footer__nav-item">
              <a href="${{ locale.footer_link_1 }}$">
                ${{ locale.footer_store }}$
              </a>
            </li>
            <li class="footer__nav-item">
              <a href="${{ locale.footer_link_2 }}$">
                ${{ locale.footer_rules }}$
              </a>
            </li>
            <li class="footer__nav-item">
              <a href="${{ locale.footer_link_3 }}$">
                ${{ locale.footer_donate }}$
              </a>
            </li>
            <li class="footer__nav-item">
              <a href="${{ locale.footer_link_4 }}$">
                ${{ locale.footer_contacts }}$
              </a>
            </li>
            <li class="footer__nav-item">
              <a href="${{ locale.footer_link_5 }}$">
                ${{ locale.footer_faq }}$
              </a>
            </li>
          </ul>
          <ul class="footer__nav-center">
            <!-- <li class="footer__nav-item">
              <a href="${{ locale.footer_link_7 }}$">
                ${{ locale.footer_launchers }}$
              </a>
            </li> -->
            <li class="footer__nav-item">
              <a href="${{ locale.footer_link_6 }}$">
                ${{ locale.footer_how_to_start }}$
              </a>
            </li>
            <li class="footer__nav-item">
              <a href="${{ locale.footer_link_8 }}$">
                ${{ locale.footer_mods }}$
              </a>
            </li>
            <li class="footer__nav-item">
              <a href="${{ locale.footer_link_9 }}$">
                ${{ locale.footer_privacy }}$
              </a>
            </li>
            <li class="footer__nav-item">
              <a href="${{ locale.footer_link_10 }}$">
                ${{ locale.footer_cookie }}$
              </a>
            </li>
            <li class="footer__nav-item">
              <a href="${{ locale.footer_link_11 }}$">
                ${{ locale.footer_terms_and_conditions }}$
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__row">
        <p class="copiryted">${{ locale.footer_copiryted }}$</p>
        <div class="socials">
          <a
            class="socials__link"
            href="https://www.facebook.com/adventuresinminecraftcom/"
            target="_blank"
          >
            <img
              src="/assets/images/icons/facebook_icon.svg"
              alt="facebook_icon"
            />
          </a>
          <a
            class="socials__link"
            href="https://twitter.com/advinminecraft"
            target="_blank"
          >
            <img
              src="/assets/images/icons/twitter_icon.svg"
              alt="twitter_icon"
            />
          </a>
          <a
            class="socials__link"
            href="https://instagram.com/advinminecraft"
            target="_blank"
          >
            <img
              src="/assets/images/icons/instagram_icon.svg"
              alt="instagram_icon"
            />
          </a>
          <a
            class="socials__link"
            href="https://t.me/advinminecraft"
            target="_blank"
          >
            <img
              src="/assets/images/icons/telegram_icon.svg"
              alt="telegram_icon"
            />
          </a>
          <a
            class="socials__link"
            href="https://discord.gg/STqghwDP7n"
            target="_blank"
          >
            <img
              src="/assets/images/icons/discord_icon.svg"
              alt="discord_icon"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="toasts-wrapper"></div>
@@include('cookie.html')
