<footer class="footer">
  <div class="footer-head">
    <div class="container">
      <div class="footer-head__row">
        <div class="footer__logo">
          <a href="${{ locale.footer_link_1 }}$">
            <img
              class="footer__icon"
              src="/assets/images/logo.svg"
              alt="logo |adventures in minecraft "
            />
          </a>
        </div>
        <div class="footer__nav">
          <ul class="footer__nav-left">
            <li class="footer__nav-item">
              <a
                data-i18n-key="footer_store"
                href="${{ locale.footer_link_1 }}$"
                >Магазин</a
              >
            </li>
            <li class="footer__nav-item">
              <a
                data-i18n-key="footer_rules"
                href="${{ locale.footer_link_2 }}$"
              >
                Правила
              </a>
            </li>
            <li class="footer__nav-item">
              <a
                data-i18n-key="footer_donate"
                href="${{ locale.footer_link_3 }}$"
              >
                Описание доната
              </a>
            </li>
            <li class="footer__nav-item">
              <a
                data-i18n-key="footer_contacts"
                href="${{ locale.footer_link_4 }}$"
              >
                Контакты
              </a>
            </li>
          </ul>
          <ul class="footer__nav-center">
            <li class="footer__nav-item">
              <a data-i18n-key="footer_faq" href="${{ locale.footer_link_5 }}$">
                FAQ
              </a>
            </li>
            <li class="footer__nav-item">
              <a
                data-i18n-key="footer_how_to_start"
                href="${{ locale.footer_link_6 }}$"
              >
                Как начать играть?
              </a>
            </li>
            <!-- <li class="footer__nav-item">
              <a
                data-i18n-key="footer_donate_rules"
                href="/pages/donate-privileges"
                >Привелегии доната</a
              >
            </li> -->
            <li class="footer__nav-item">
              <a
                data-i18n-key="footer_launchers"
                href="${{ locale.footer_link_7 }}$"
              >
                Лаунчеры
              </a>
            </li>
            <li class="footer__nav-item">
              <a
                data-i18n-key="footer_mods"
                href="${{ locale.footer_link_8 }}$"
              >
                Моды
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__row">
        <p data-i18n-key="footer_copiryted" class="copiryted"></p>
        <div class="socials">
          <a
            class="socials__link"
            href="https://twitter.com/advinminecraft"
            target="_blank"
          >
            <img
              src="/assets/images/icons/twitter_icon.svg"
              alt="twitter_icon"
            />
          </a>
          <a
            class="socials__link"
            href="https://instagram.com/advinminecraft"
            target="_blank"
          >
            <img
              src="/assets/images/icons/instagram_icon.svg"
              alt="instagram_icon"
            />
          </a>
          <a
            class="socials__link"
            href="https://t.me/advinminecraft"
            target="_blank"
          >
            <img
              src="/assets/images/icons/telegram_icon.svg"
              alt="telegram_icon"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="toasts-wrapper"></div>
@@include('cookie.html')
