<header class="header">
  <div class="container-custom">
    <div class="header__row">
      <div class="logo">
        <a class="logo__link" href="${{ locale.header_link_1 }}$">
          <img
            class="logo__icon"
            src="/assets/images/logo.svg"
            alt="logo | adventures in minecraft "
          />
        </a>
      </div>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="${{ locale.header_link_1 }}$">
            ${{ locale.header_shop }}$
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="${{ locale.header_link_2 }}$">
            ${{ locale.header_rules }}$
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="${{ locale.header_link_3 }}$">
            ${{ locale.header_donate }}$
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="${{ locale.header_link_4 }}$">
            ${{ locale.header_faq }}$
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="${{ locale.header_link_5 }}$">
            ${{ locale.header_how_to_play }}$
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="${{ locale.header_link_6 }}$">
            ${{ locale.header_contacts }}$
          </a>
        </li>
        <div class="nav-item-auth">
          <li class="nav-item nav-item-user-logic hidden-visibility">
            <a class="button-shade" href="${{ locale.header_link_7 }}$">
              ${{ locale.header_enter }}$
            </a>
          </li>
          <li class="nav-item nav-item-user-logic hidden-visibility">
            <a class="button-primary" href="${{ locale.header_link_8 }}$">
              ${{ locale.header_signup }}$
            </a>
          </li>
          <li class="nav-item nav-item-user-dd-logic hidden-visibility">
            <div class="dropdown">
              <div class="dropdown-selection">
                <span id="username"></span>
                <svg
                  width="7"
                  height="5"
                  viewBox="0 0 7 5"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.5 4.85938C3.41667 4.85938 3.33583 4.84375 3.2575 4.8125C3.17917 4.78125 3.11417 4.73958 3.0625 4.6875L0.1875 1.8125C0.0729164 1.69792 0.015625 1.55208 0.015625 1.375C0.015625 1.19792 0.0729164 1.05208 0.1875 0.9375C0.302083 0.822916 0.447917 0.765625 0.625 0.765625C0.802083 0.765625 0.947917 0.822916 1.0625 0.9375L3.5 3.375L5.9375 0.9375C6.05208 0.822916 6.19792 0.765625 6.375 0.765625C6.55208 0.765625 6.69792 0.822916 6.8125 0.9375C6.92708 1.05208 6.98437 1.19792 6.98437 1.375C6.98437 1.55208 6.92708 1.69792 6.8125 1.8125L3.9375 4.6875C3.875 4.75 3.80729 4.79438 3.73437 4.82063C3.66146 4.84688 3.58333 4.85979 3.5 4.85938Z"
                    fill="currentColor"
                  />
                </svg>
              </div>
              <ul class="dropdown-container">
                <li>
                  <a href="${{ locale.header_link_9 }}$">
                    ${{ locale.header_orders_history }}$
                  </a>
                </li>
                <li>
                  <a href="${{ locale.header_link_10 }}$">
                    ${{ locale.header_change_password }}$
                  </a>
                </li>
                <li>
                  <a href="${{ locale.header_link_11 }}$">
                    ${{ locale.header_logout }}$
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </div>
        <li class="nav-item">
          <a href="${{ locale.header_link_12 }}$">
            <div class="cart-container">
              <img
                class="cart-container-icon"
                src="/assets/images/icons/cart-icon.svg"
                alt=""
              />
              <span class="cart-container-count">0</span>
            </div>
          </a>
        </li>
        <li class="nav-item custom-select">
          <select data-i18n-switcher>
            <option value="en">EN</option>
            <option value="ru">RU</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</header>
